TestAutomation/bin/*
TestAutomation/obj/*
TestAutomation/.vs/*
*.gif
TestAutomation/bin/Debug/Selenium.WebDriverBackedSelenium.dll
TestAutomation/bin/Debug/TestAutomation.dll
TestAutomation/bin/Debug/TestAutomation.dll.config
TestAutomation/bin/Debug/TestAutomation.dll.VisualState.xml
TestAutomation/bin/Debug/TestAutomation.pdb
TestAutomation/bin/Debug/TestResult.xml
TestAutomation/bin/Debug/ThoughtWorks.Selenium.Core.dll
TestAutomation/bin/Debug/WebDriver.dll
TestAutomation/bin/Debug/WebDriver.Support.dll
*.suo
TestAutomation/obj/Debug/TestAutomation.dll
TestAutomation/obj/Debug/TestAutomation.pdb
TestAutomation/obj/Debug/TestAutomation.pdb
TestAutomation/obj/Debug/TestAutomation.dll
TestAutomation/obj/Debug/TestAutomation.pdb
