<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestAutomation.Properties.Settings.DB_LX_PROD" connectionString="Data Source=10.28.136.50,1499;Initial Catalog=LendX;Integrated Security=True"/>
        <add name="TestAutomation.Properties.Settings.DB_LX_QA" connectionString="Data Source=LendxQA\\LXprod01;Initial Catalog=LendX;Integrated Security=True"/>
        <add name="TestAutomation.Properties.Settings.DB_LX_DEV" connectionString="Data Source=LendxQA\\LXprod01;Initial Catalog=LendX;Integrated Security=True"/>
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
