<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="DevSettings" type="System.Configuration.AppSettingsSection">
      <section name="LLAHostSettings" type="System.Configuration.AppSettingsSection"/>
      <section name="LLARequestPath" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
    <sectionGroup name="AppTestData" type="System.Configuration.AppSettingsSection">
      <section name ="LiveLoanResponse" type="System.Configuration.AppSettingsSection"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="EnvironmentSettings" value="DevSettings"/>
  </appSettings>
</configuration>